<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#51cf66">
    <meta name="apple-mobile-web-app-title" content="<%- VITE_APP_TITLE %>">
    <meta name="application-name" content="<%- VITE_APP_TITLE %>">
    <meta name="msapplication-TileColor" content="#51cf66">
    <meta name="theme-color" content="#ffffff">
    <title><%- VITE_APP_TITLE %></title>
  </head>
  <body>
    <noscript>
      <strong>很抱歉地告知你， <%- VITE_APP_TITLE %> 不支持在无 Script 环境下正常显示。请开启相关功能后继续使用。</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
